#pi_extension_box {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 520px;
    height: 120px;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    z-index: 9001;
    font-size: 12pt;
    font-family: Arial;
    color: black;
    line-height: normal;
}

#pi_extension_box img {
    width: auto;
    margin: 0;
    text-align: initial;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    position: static;
}

#pi_extension_box #pi_extension_box_footer #pi_extension_box_logo {
    height: 35px;
    float: left;
}

#pi_extension_box #pi_extension_box_footer #pi_extension_box_donate {
    height: 35px;
    float: right;
}

#pi_extension_box #pi_extension_box_body #pi_extension_box_message {
    float: left;
    width: 495px;
    height: 75px;
    margin-bottom: 10px;
    text-align: center;
}

#pi_extension_box #pi_extension_box_body #pi_extension_box_close {
    float: right;
}

#pi_extension_box #pi_extension_box_body #pi_extension_box_close img {
    cursor: pointer;
}
