#pi_extension_box {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 520px;
    height: 70px;
    border: 1px solid #999;
    padding: 5px;
    background-color: #efefef;
    z-index: 9001;
    font-size: 10pt;
    font-family: Arial;
    color: black;
    line-height: normal;
}

#pi_extension_box #logo {
    height: 70px;
    float: left;
}

#pi_extension_box #message {
    float: left;
    margin-left: 10px;
    width: 390px;
}

#pi_extension_box #close {
    float: right;
}
